# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.*

# Build folders
build/
dist/

# Uploads / temp files
uploads/

# Coverage reports
coverage/

# IDE files
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*

# Vercel local config
.vercel/

# Seed / local scripts
seed.js